@using CommonCrm.Data.Entities.AppUser
@model List<ApplicationUser?>

@{
    var data = Model.Count != 0 ? Model : new List<ApplicationUser?>();
}
@{
    ViewData["Title"] = "OfferRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Teklifler</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">
                                <a href="/panel/dsahboard">Teklif</a>
                            </li>
                            <li class="breadcrumb-item active">Teklif Talepleri</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Teklif Talepleri</h4>

                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                               style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Talep Eden</th>
                                    <th>E-posta</th>
                                    <th>Ülke</th>
                                    <th>Şehir</th>
                                    <th>Ürün Adedi</th>
                                    <th>Tarih</th>
                                    <th>Teklif</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in data)
                                {
                                    var customer = "";
                                    var active = "";
                                    <tr>

                                        <td>@customer</td>
                                        <td>@i.Email</td>
                                        <td>@i.Country</td>
                                        <td>@i.City</td>
                                        <td>@i.IsCrmOwner</td>
                                        <td>
                                            @i.IsCrmOwner
                                        </td>
                                        <td>@active</td>
                                        <td class="text-center">
                                            <a href="/offer/@i.Id/update">
                                                <i class="font-size-22 ri-edit-2-fill"></i>
                                            </a>
                                            <a href="/offer/deleteoffer/@i.Id">
                                                <i class="font-size-22 ri-delete-bin-fill m-lg-3">

                                                </i>
                                            </a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
</div>