@using CommonCrm.Data.Entities.AppUser
@model List<ApplicationUser>


<link href="~/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css"/>
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
<link href="~/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"/>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Kullanıcı Listesi</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">
                                <a href="/">CRM</a>
                            </li>
                            <li class="breadcrumb-item active">Kullanıcı Listesi</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Crm Müşterileri</h4>
                        <p class="card-title-desc">
                            Müşteri bilgilerini excel ve pdf formatta indirebilir daha detaylı inceleyebilirsiniz.
                        </p>

                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                               style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <th>İsim - Soyisim</th>
                                <th>Email</th>
                                <th>Aktif mi?</th>
                                <th>Ödediği Ücret</th>
                                <th>Şirket Adı</th>
                                <th></th>
                                <th></th>

                            </tr>
                            </thead>


                            <tbody>
                            @foreach (var i in Model)
                            {
                                var isActive = (@i.IsActive) ? "Aktif" : "Değil";

                                <tr>
                                    <td>@i.Name @i.Surname</td>
                                    <td>@i.Email</td>
                                    <td>@isActive</td>
                                    <td>@i.PaidPrice</td>
                                    <td>@i.CompanyTitle</td>
                                    <td><a href="/"><i class="ri-edit-2-fill"></i></a></td>
                                    <td><a href="/admin/deleteuser/@i.Id"><i class="ri-delete-bin-fill"></i></a></td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<!-- Ion Range Slider-->
<script src="~/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/product-filter-range.init.js"></script>
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<script src="~/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>
