@using CommonCrm.Data.Entities.Product.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@using CommonCrm.Business.Extensions
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using CommonCrm.BackgroundServices
@using CommonCrm.Data.Entities
@model CommonCrm.Business.DTOs.CreateProductDto

@{
    var units = Model?.Units ?? new List<SelectListItem>();
    var categories = Model?.Categories ?? new List<SelectListItem?>();
    var productCollection = Model?.ProductCollections ?? new List<SelectListItem?>();


    var exchangeRatesdlr = CurrencyBackgroundService.SharedData._exchangeRates?.FirstOrDefault(x => x.CurrencyCode == "DLR");
    var dollar = exchangeRatesdlr?.Rate.CurrencyFormatWithDollarSign();

    var exchangeRateseur = CurrencyBackgroundService.SharedData._exchangeRates?.FirstOrDefault(x => x.CurrencyCode == "EUR");

    var euro = exchangeRateseur?.Rate.CurrencyFormatWithEuroSign();

    if (ViewBag.exchangeRates is List<ExchangeRate> exchangeRatesList)
    {
        List<ExchangeRate> exchangeRateList = new List<ExchangeRate>(exchangeRatesList);

        foreach (var i in exchangeRateList)
        {
            if (i.CurrencyCode == "dolar")
            {
                dollar = i.Rate.CurrencyFormatWithDollarSign();
            }

            if (i.CurrencyCode == "euro")
            {
                euro = i.Rate.CurrencyFormatWithEuroSign();
            }
        }
    }
}
<div class="page-content">
    <div class="container-fluid">
        <link href="~/assets/libs/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Ürün Ekle</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">
                                <a href="javascript: void(0);">Ürünler</a>
                            </li>
                            <li class="breadcrumb-item active">Ürün Ekle</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        <form asp-action="CreateProduct" asp-controller="Product" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="addproduct-nav-pills-wizard" class="twitter-bs-wizard">
                                <!-- end ul -->
                                <div class="tab-content twitter-bs-wizard-tab-content">
                                    <div class="tab-pane active" id="basic-info">
                                        <h4 class="card-title">Ürün Kimliği</h4>
                                        <p class="card-title-desc">Aşağıdaki tüm bilgileri doldurun</p>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="productname">Ürün İsmi</label>
                                                    <input placeholder="Bardak" asp-for="Name" id="productname" type="text" class="form-control">
                                                    <span asp-validation-for="Name" class="text-danger"></span>

                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="productname">İngilizce Ürün İsmi</label>
                                                    <input placeholder="Glass" asp-for="EnglishName" id="productname" type="text" class="form-control">
                                                    <span asp-validation-for="EnglishName" class="text-danger"></span>

                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="manufacturername">
                                                        Kod
                                                    </label>
                                                    <input placeholder="A3G35H" asp-for="Code" id="manufacturername" type="text"
                                                           class="form-control">
                                                    <span asp-validation-for="Code" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-lg-6">

                                                <div class="mb-3">
                                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                                        <label class="form-label" >
                                                            Birim
                                                        </label>
                                                        <button type="button" class="btn btn-info btn-sm waves-effect waves-light text-end mb-2" onclick="openPartialModal()">Birim Ekle</button>
                                                    </div>

                                                    <select data-placeholder="Birim Seç..." asp-for="UnitId" asp-items="@units" class="select2 form-control">
                                                        <option value="">Birim Seç..</option>
                                                    </select>

                                                </div>
                                                <div class="mb-3">
                                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                                        <label class="form-label" >
                                                            Kategori
                                                        </label>
                                                        <button type="button" class="btn btn-info btn-sm waves-effect waves-light text-end mb-2" onclick="openPartialModalCategory()">Kategori Ekle</button>
                                                    </div>
                                                    <select asp-for="CategoryIds" asp-items="@categories" class="select2 form-control select2-multiple" multiple="multiple"
                                                            data-placeholder="Kategori Seç...">
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                                        <label class="form-label" for="manufacturerbrand">
                                                            Koleksiyon
                                                        </label>
                                                        <button type="button" class="btn btn-info btn-sm waves-effect waves-light text-end mb-2" onclick="openPartialModalCollection()">Koleksiyon Ekle</button>
                                                    </div>
                                                    <select asp-for="CollectionIds" asp-items="@productCollection" class="select2 form-control select2-multiple" multiple="multiple"
                                                            data-placeholder="Koleksiyon Seç...">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="productdesc">Ürün Açıklaması</label>
                                                    <textarea placeholder="Marka: Holuxe, Renk: Siyah" asp-for="Description" class="form-control" id="productdesc" rows="5"></textarea>
                                                </div>

                                            </div>
                                            <div class="col-lg-6">

                                                <div class="mb-3">
                                                    <label class="form-label" for="productdesc">İngilizce Ürün Açıklaması</label>
                                                    <textarea placeholder="Brand: Holuxe, Color: black" asp-for="EnglishDescription" class="form-control" id="productdesc" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="addproduct-nav-pills-wizard" class="twitter-bs-wizard">
                                <!-- end ul -->
                                <div class="tab-content twitter-bs-wizard-tab-content">
                                    <div class="tab-pane active" id="basic-info">
                                        <h4 class="card-title">Fiyat</h4>
                                        <p class="card-title-desc">1. Kuru belirle. - 2. Varsayılan Para birimini seç. - 3. Satış fiyatını gir. - 4. Kdv Tutarını seç. <br /><br /> <strong style="font-weight: bold">Not:</strong> Varsayılan birim ve Kur güncellemelerinde en doğru sonuç için girdiğiniz değerleri sıfırlayın.</p>
                                        <div class="col-12">
                                            <div class="col-12">
                                                <div class="float-start">
                                                    <h6>

                                                        <input id="hidden-dolar-currency" asp-for="CurrencyDollar" value="@dollar.Replace("$", "")" hidden />

                                                    </h6>

                                                </div>
                                                <div class="text-end">

                                                    <a onclick="ClearAllInput()" class="btn btn-info text-end">Değerleri Sıfırla</a>

                                                </div>


                                            </div>


                                        </div>

                                        <input id="hidden-euro-currency" asp-for="CurrencyEuro" value="@euro" hidden />

                                        <br />

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label class="form-label" for="productname">Satış</label>
                                                    <hr />
                                                    <div class="input-group m-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">₺</span>
                                                        </div>
                                                        <input onchange="updateTotal('tl')" data-role="input, input-mask" data-inputmask="'alias': 'currency', 'groupSeparator': '.', 'radixPoint': ',', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'"
                                                               class="form-control input-mask text-left" id="input-currency-tl" placeholder="0">
                                                        <input id="hidden-currency-tl" hidden asp-for="SalesPriceTL" type="text" />


                                                    </div>
                                                    <div class="input-group m-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">$</span>
                                                        </div>
                                                        <input onchange="updateTotal('dolar')" id="input-currency-dolar" class="form-control input-mask text-left " placeholder="0"
                                                               data-inputmask="'alias': 'currency', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'">
                                                        <input id="hidden-currency-dolar" hidden asp-for="SalesPriceDolar" type="text" />


                                                    </div>
                                                    <div class="input-group m-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">€</span>
                                                        </div>
                                                        <input onchange="updateTotal('euro')" id="input-currency-euro" class="form-control input-mask text-left" placeholder="0"
                                                               data-inputmask="'alias': 'currency', 'groupSeparator': '.', 'radixPoint': ',', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'">
                                                        <input id="hidden-currency-euro" hidden asp-for="SalesPriceEuro" type="text" />


                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label class="form-label" for="productname">KDV Oranı</label>
                                                    <hr />
                                                    <div class="input-group m-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">%</span>
                                                        </div>
                                                        <select asp-for="KdvTL"
                                                                onchange="updateTotal('tl','kdv')"
                                                                class="form-control input-mask text-left"
                                                                id="kdv-select-tl"
                                                                placeholder="0"
                                                                aria-describedby="validationTooltipUsernamePrepend">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="8">8</option>
                                                            <option value="10">10</option>
                                                            <option value="18">18</option>
                                                            <option value="20">20</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group m-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">%</span>
                                                        </div>
                                                        <select asp-for="KdvDolar"
                                                                onchange="updateTotal('dolar','kdv')"
                                                                class="form-control input-mask text-left"
                                                                id="kdv-select-dolar"
                                                                placeholder="0"
                                                                aria-describedby="validationTooltipUsernamePrepend">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="8">8</option>
                                                            <option value="10">10</option>
                                                            <option value="18">18</option>
                                                            <option value="20">20</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group m-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">%</span>
                                                        </div>
                                                        <select asp-for="KdvEuro"
                                                                onchange="updateTotal('euro','kdv')"
                                                                class="form-control input-mask text-left"
                                                                id="kdv-select-euro"
                                                                placeholder="0"
                                                                aria-describedby="validationTooltipUsernamePrepend">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="8">8</option>
                                                            <option value="10">10</option>
                                                            <option value="18">18</option>
                                                            <option value="20">20</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label class="form-label" for="productname">Toplam</label>
                                                    <hr />
                                                    <div class="input-group m-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">₺</span>
                                                        </div>
                                                        <input readonly id="totalTl" data-inputmask="'alias': 'numeric', 'groupSeparator': '.', 'radixPoint': ',', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'"
                                                               class="form-control input-mask text-left" placeholder="0" aria-describedby="validationTooltipUsernamePrepend">
                                                        <input id="hidden-totalTl" hidden asp-for="TotalTL" type="text" />


                                                    </div>
                                                    <div class="input-group m-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">$</span>
                                                        </div>
                                                        <input readonly id="totalDolar" class="form-control input-mask text-left " placeholder="0"
                                                               data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'">
                                                        <input id="hidden-totalDolar" hidden asp-for="TotalDolar" type="text" />


                                                    </div>
                                                    <div class="input-group m-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="validationTooltipUsernamePrepend">€</span>
                                                        </div>
                                                        <input readonly id="totalEuro" class="form-control input-mask text-left" placeholder="0"
                                                               data-inputmask="'alias': 'numeric', 'groupSeparator': '.', 'radixPoint': ',', 'digits': 2, 'digitsOptional': false, 'placeholder': '0'">
                                                        <input id="hidden-totalEuro" hidden asp-for="TotalEuro" type="text" />
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-4">
                                                    <label class="form-label" title="Birden fazla döviz olduğu için arayüzde gösterilmek üzere birinin varsayılan olması gerekiyor." for="productname">Varsayılan</label>
                                                    <hr />
                                                </div>

                                                <div class="form-check mb-4" style="margin-left: 12px!important;">
                                                    <input asp-for="IsTlDefault" class="form-check-input" type="checkbox" checked="" value="true" id="IsTlDefault" onclick="uncheckOthers(this)">

                                                </div>
                                                <div class="form-check mb-4" style="margin-left: 12px!important;">
                                                    <input asp-for="IsDolarDefault" class="form-check-input" type="checkbox" value="false" id="IsDolarDefault" onclick="uncheckOthers(this)">

                                                </div>
                                                <div class="form-check mb-4" style="margin-left: 12px!important;">
                                                    <input asp-for="IsEuroDefault" class="form-check-input" type="checkbox" value="false" id="IsEuroDefault" onclick="uncheckOthers(this)">

                                                </div>
                                                <br />
                                            </div>
                                            <br />
                                            <hr />
                                            <br />
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <br />
                                                    <div class="card-body mb-4">
                                                        <h4 class="card-title">Resim Yükle</h4>

                                                        <div class="input-group">
                                                            <input type="file" name="formFile" class="form-control" id="customFile">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <div id="addproduct-nav-pills-wizard" class="twitter-bs-wizard">
                                <!-- end ul -->
                                <div class="tab-content twitter-bs-wizard-tab-content">
                                    <div class="tab-pane active" id="basic-info">
                                        <h4 title="sa" class="card-title">Teklif</h4>
                                        <p class="card-title-desc">Aşağıdaki tüm bilgileri doldurun</p>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="productname">Teklif için Miktar</label>
                                                        <input asp-for="OfferQuantity" placeholder="1" id="productname" name="productname" type="number" class="form-control">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="productdesc">Satır Açıklaması</label>
                                                    <textarea placeholder="Teklif satırı için açıklama" asp-for="OfferDescription" class="form-control" id="productdesc" rows="5"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="productdesc">Satır Açıklaması - İngilizce</label>
                                                    <textarea placeholder="Description" asp-for="OfferDescriptionEnglish" class="form-control" id="productdesc" rows="5"></textarea>
                                                </div>

                                            </div>


                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <div id="addproduct-nav-pills-wizard" class="twitter-bs-wizard">
                                <!-- end ul -->
                                <div class="tab-content twitter-bs-wizard-tab-content">
                                    <div class="tab-pane active" id="basic-info">
                                        <h4 title="sa" class="card-title">Nitelikler</h4>
                                        <p class="card-title-desc">Aşağıdaki tüm bilgileri doldurun</p>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="input-group m-2">
                                                    <div class="input-group-prepend">
                                                        <span style="padding: 0.7rem 0.9rem!important;" class="input-group-text" id="validationTooltipUsernamePrepend">
                                                            <i class="fas fa-arrows-alt-h"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Width" id="productname" min="0" type="number" class="form-control" placeholder="Genişlik">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="validationTooltipUsernamePrepend">cm</span>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div class="input-group m-2">
                                                    <div class="input-group-prepend">
                                                        <span style="padding: 0.7rem 0.9rem!important;" class="input-group-text" id="validationTooltipUsernamePrepend">
                                                            <i class="fas fa-box"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Volume" id="productname" min="0" type="number" class="form-control" placeholder="Hacim">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="validationTooltipUsernamePrepend">m³</span>
                                                    </div>

                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div class="input-group m-2">
                                                    <div class="input-group-prepend">
                                                        <span style="padding: 0.7rem 0.9rem!important;" class="input-group-text" id="validationTooltipUsernamePrepend">
                                                            <i class="fas fa-arrows-alt-v"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Height" id="productname" min="0" type="number" class="form-control" placeholder="Yükseklik">

                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="validationTooltipUsernamePrepend">cm</span>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div class="input-group m-2">
                                                    <div class="input-group-prepend">
                                                        <span style="padding: 0.7rem 0.9rem!important;" class="input-group-text" id="validationTooltipUsernamePrepend">
                                                            <i class="fas fa-weight-hanging"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Weight" id="productname" min="0" type="number" class="form-control" placeholder="Ağırlık">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="validationTooltipUsernamePrepend">kg</span>
                                                    </div>

                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div class="input-group m-2">
                                                    <div class="input-group-prepend">
                                                        <span style="padding: 0.7rem 0.9rem!important;" class="input-group-text" id="validationTooltipUsernamePrepend">
                                                            <i class="fas fa-compress-arrows-alt"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Depth" id="productname" min="0" type="number" class="form-control" placeholder="Derinlik">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="validationTooltipUsernamePrepend">cm</span>
                                                    </div>

                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div class="input-group m-2">
                                                    <div class="input-group-prepend">
                                                        <span style="padding: 0.7rem 0.9rem!important;" class="input-group-text" id="validationTooltipUsernamePrepend">
                                                            <i class="fab fa-dropbox"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="Packet" id="productname" min="0" type="number" class="form-control" placeholder="Paket">


                                                </div>


                                            </div>


                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="addproduct-nav-pills-wizard" class="twitter-bs-wizard">
                                <!-- end ul -->
                                <div class="tab-content">

                                    <div class="row text-center">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                                <i class="ri-check-line align-middle me-2"></i> Kaydet
                                            </button>
                                        </div>

                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </form>
        @await Html.PartialAsync("CreateProductUnitPartial")
        @await Html.PartialAsync("CreateCategoryPartial")
        @await Html.PartialAsync("CreateCollectionPartial")

        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

<script>
    function openPartialModal() {
        $('#partialModal').modal('show'); // Modalı göster
    }
    function openPartialModalCategory() {
        $('#partialModalCategory').modal('show'); // Modalı göster
    }
    function openPartialModalCollection() {
        $('#partialModalCollection').modal('show'); // Modalı göster
    }
    document.addEventListener("DOMContentLoaded", function() {
        document.addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Enter tuşunun varsayılan davranışını engeller
            }
        });
    });
    function updateTotal(currencyType, isKdv) {
        const salesPriceInput = document.getElementById(`input-currency-${currencyType}`);
        const kdvSelect = document.getElementById(`kdv-select-${currencyType}`);
        const totalInput = document.getElementById(`total${currencyType.charAt(0).toUpperCase() + currencyType.slice(1)}`);
        const hiddenPriceInput = document.getElementById(`hidden-currency-${currencyType}`);
        const hiddenTotalInput = document.getElementById(`hidden-total${currencyType.charAt(0).toUpperCase() + currencyType.slice(1)}`);

        hiddenPriceInput.value = toDecimal(salesPriceInput.value, currencyType);

        const salesPrice = parseFloat(hiddenPriceInput.value);
        const selectedKdv = parseFloat(kdvSelect.value);

        totalInput.value = salesPrice * (1 + selectedKdv / 100);
        hiddenTotalInput.value = toDecimal(totalInput.value, currencyType);
        if (currencyType === 'tl' && isKdv !== 'kdv') {
            handleClickTl();
        } if (currencyType === 'dolar' && isKdv !== 'kdv') {
            handleClickDolar();

        } if (currencyType === 'euro' && isKdv !== 'kdv') {
            handleClickEuro();
        }

    }

    function attachEventListeners(currencyType) {
        const kdvSelect = document.getElementById(`kdv-select-${currencyType}`);
        const salesPriceInput = document.getElementById(`input-currency-${currencyType}`);

        kdvSelect.addEventListener("change", () => updateTotal(currencyType, "kdv"));
        salesPriceInput.addEventListener("change", () => updateTotal(currencyType));
    }

    function toDecimal(value, type) {

        return type === 'dolar' ? String(value).replace(/,/g, '') : String(value).replace(/\./g, '').replace(',', '.');

    }

    function initialize() {
        const currencies = ["tl", "dolar", "euro"];
        currencies.forEach(currency => {
            attachEventListeners(currency);
            updateTotal(currency);
        });
    }

    function uncheckOthers(checkbox) {
        const checkboxes = document.getElementsByClassName("form-check-input");
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].value = (checkboxes[i] === checkbox);
            checkboxes[i].checked = (checkboxes[i] === checkbox);
        }
    }
    document.getElementById("IsTlDefault").addEventListener("click", function () {
        hideOtherSalesInput("tl");
    });
    document.getElementById("IsDolarDefault").addEventListener("click", function () {
        hideOtherSalesInput("dolar");
    });
    document.getElementById("IsEuroDefault").addEventListener("click", function () {
        hideOtherSalesInput("euro");
    });
    window.onload = initialize;
    window.onload = function () {
        document.getElementById("IsTlDefault").click();
    };
    function handleClickTl() {

        const salesPriceInputTl = document.getElementById(`input-currency-tl`);
        const salesPriceInputDolar = document.getElementById(`input-currency-dolar`);
        const salesPriceInputEuro = document.getElementById('input-currency-euro');

        const totalPriceDolar = document.getElementById('totalDolar');
        const totalPriceEuro = document.getElementById('totalEuro');

        var hiddenTotalPriceEuro = document.getElementById('hidden-totalEuro');
        var hiddenTotalPriceDolar = document.getElementById('hidden-totalDolar');

        const hiddenPriceInputTl = document.getElementById(`hidden-currency-tl`);
        const hiddenPriceInputDolar = document.getElementById(`hidden-currency-dolar`);
        const hiddenPriceInputEuro = document.getElementById(`hidden-currency-euro`);

        const currencyValueDolar = document.getElementById('hidden-dolar-currency').value.replace("₺", "");
        const currencyValueEuro = document.getElementById('hidden-euro-currency').value.replace("₺", "");

        const tlValue = toDecimal(salesPriceInputTl.value, "tl");

        var priceDolar = tlValue / parseFloat(currencyValueDolar.replace(",", "."));
        var priceEuro = tlValue / parseFloat(currencyValueEuro.replace(",", "."));

        hiddenPriceInputDolar.value = priceDolar;
        hiddenPriceInputEuro.value = priceEuro;

        salesPriceInputDolar.value = priceDolar;
        salesPriceInputEuro.value = priceEuro;

        totalPriceDolar.value = priceDolar;
        totalPriceEuro.value = priceEuro;

        hiddenTotalPriceDolar.value = priceDolar;
        hiddenTotalPriceEuro.value = priceEuro;





    }
    function handleClickDolar() {



        const salesPriceInputTl = document.getElementById(`input-currency-tl`);
        const salesPriceInputDolar = document.getElementById(`input-currency-dolar`);
        const salesPriceInputEuro = document.getElementById('input-currency-euro');

        const hiddenPriceInputTl = document.getElementById(`hidden-currency-tl`);
        const hiddenPriceInputDolar = document.getElementById(`hidden-currency-dolar`);
        const hiddenPriceInputEuro = document.getElementById(`hidden-currency-euro`);

        const totalPriceTl = document.getElementById('totalTl');
        const totalPriceEuro = document.getElementById('totalEuro');

        var hiddenTotalPriceTl = document.getElementById('hidden-totalTl');
        var hiddenTotalPriceEuro = document.getElementById('hidden-totalEuro');


        const currencyValueDolar = document.getElementById('hidden-dolar-currency').value.replace("₺", "");
        const currencyValueEuro = document.getElementById('hidden-euro-currency').value.replace("₺", "");

        const dolarValue = toDecimal(salesPriceInputDolar.value, "dolar");

        var priceTl = dolarValue * parseFloat(currencyValueDolar.replace(",", "."));
        var priceEuro = priceTl / parseFloat(currencyValueEuro.replace(",", "."));

        hiddenPriceInputTl.value = priceTl;
        hiddenPriceInputEuro.value = priceEuro;

        salesPriceInputTl.value = priceTl;
        salesPriceInputEuro.value = priceEuro;

        totalPriceTl.value = priceTl;
        totalPriceEuro.value = priceEuro;

        hiddenTotalPriceTl.value = priceTl;
        hiddenPriceInputDolar.value = priceEuro;





    }
    function handleClickEuro() {
        debugger;

        const salesPriceInputTl = document.getElementById(`input-currency-tl`);
        const salesPriceInputDolar = document.getElementById(`input-currency-dolar`);
        const salesPriceInputEuro = document.getElementById('input-currency-euro');

        const hiddenPriceInputTl = document.getElementById(`hidden-currency-tl`);
        const hiddenPriceInputDolar = document.getElementById(`hidden-currency-dolar`);
        const hiddenPriceInputEuro = document.getElementById(`hidden-currency-euro`);

        const totalPriceTl = document.getElementById('totalTl');
        const totalPriceDolar = document.getElementById('totalDolar');

        var hiddenTotalPriceTl = document.getElementById('hidden-totalTl');
        var hiddenTotalPriceDolar = document.getElementById('hidden-totalDolar');


        const currencyValueDolar = document.getElementById('hidden-dolar-currency').value.replace("₺", "");
        const currencyValueEuro = document.getElementById('hidden-euro-currency').value.replace("₺", "");

        const euroValue = toDecimal(salesPriceInputEuro.value, "euro");

        var priceTl = euroValue * parseFloat(currencyValueEuro.replace(",", "."));
        var priceDolar = priceTl / parseFloat(currencyValueDolar.replace(",", "."));

        hiddenPriceInputTl.value = priceTl;
        hiddenPriceInputDolar.value = priceDolar;

        salesPriceInputTl.value = priceTl;
        salesPriceInputDolar.value = priceDolar;

        totalPriceTl.value = priceTl;
        totalPriceDolar.value = priceDolar;

        hiddenTotalPriceTl.value = priceTl;
        hiddenTotalPriceDolar.value = priceDolar;





    }
    function ClearAllInput() {
        const salesPriceInputTl = document.getElementById(`input-currency-tl`);
        const salesPriceInputDolar = document.getElementById(`input-currency-dolar`);
        const salesPriceInputEuro = document.getElementById('input-currency-euro');

        const TotalTl = document.getElementById(`totalTl`);
        const totalDolar = document.getElementById(`totalDolar`);
        const totalEuro = document.getElementById(`totalEuro`);

        const kdvTl = document.getElementById(`kdv-select-tl`);
        const kdvDolar = document.getElementById(`kdv-select-dolar`);
        const kdvEuro = document.getElementById(`kdv-select-euro`);

        salesPriceInputTl.value = 0;
        salesPriceInputDolar.value = 0;
        salesPriceInputEuro.value = 0;
        TotalTl.value = 0;
        totalDolar.value = 0;
        totalEuro.value = 0;
        kdvTl.value = 0;
        kdvDolar.value = 0;
        kdvEuro.value = 0;
    }
    function currencyReload() {
        window.location.reload();


    }
    function hideOtherSalesInput(price) {
        debugger;
        if (price === 'tl') {
            document.getElementById(`input-currency-tl`).readOnly = false;
            document.getElementById("input-currency-dolar").readOnly = true;
            document.getElementById("input-currency-euro").readOnly = true;
        }
        if (price === 'dolar') {
            document.getElementById(`input-currency-tl`).readOnly = true;
            document.getElementById("input-currency-dolar").readOnly = false;
            document.getElementById("input-currency-euro").readOnly = true;
        } if (price === 'euro') {
            document.getElementById(`input-currency-tl`).readOnly = true;
            document.getElementById("input-currency-dolar").readOnly = true;
            document.getElementById("input-currency-euro").readOnly = false;
        }

    }




</script>



<!-- select 2 plugin -->
<!-- dropzone plugin -->
