@using CommonCrm.Business.Extensions
@using CommonCrm.BackgroundServices
@using CommonCrm.Data.Entities
@using Newtonsoft.Json

@{
    
    var exchangeRatesdlr = CurrencyBackgroundService.SharedData._exchangeRates?.FirstOrDefault(x => x.CurrencyCode == "DLR");
    var defaultCurrencyDollar = exchangeRatesdlr?.Rate.CurrencyFormatWithDollarSign();
    var dollar = exchangeRatesdlr?.Rate.CurrencyFormatWithDollarSign();

    var exchangeRateseur = CurrencyBackgroundService.SharedData._exchangeRates?.FirstOrDefault(x => x.CurrencyCode == "EUR");
    var defaultCurrencyEuro = exchangeRateseur?.Rate.CurrencyFormatWithEuroSign();

    var euro = exchangeRateseur?.Rate.CurrencyFormatWithEuroSign();

    if (ViewBag.exchangeRates is List<ExchangeRate> exchangeRatesList)
    {
        List<ExchangeRate> exchangeRateList = new List<ExchangeRate>(exchangeRatesList);

        foreach (var i in exchangeRateList)
        {
            if (i.CurrencyCode == "dolar")
            {
                dollar = i.Rate.CurrencyFormatWithDollarSign();
            }

            if (i.CurrencyCode == "euro")
            {
                euro = i.Rate.CurrencyFormatWithEuroSign();
            }
        }
    }
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>CRM Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/logos.png" data-height="100">
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
    <!-- Custom Css -->
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="~/assets/libs/twitter-bootstrap-wizard/prettify.css">
    <link href="~/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css"/>
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/libs/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css"/>
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <!-- select2 css -->

    <!-- dropzone css -->
    <link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/assets/libs/toastr/build/toastr.min.css">

    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
          type="text/css"/>
</head>
<body data-sidebar="dark">
<div id="layout-wrapper">
<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/assets/images/logos.png" alt="logo-sm-dark" height="100">
                    </span>
                    <span class="logo-lg">
                        <img src="/assets/images/logos.png" alt="logo-dark" height="20">
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="/assets/images/logos.png" alt="logo-sm-light" height="100">
                    </span>
                    <span class="logo-lg">
                        <img src="/assets/images/logos.png" alt="logo-light" height="100">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                    id="vertical-menu-btn">
                <i class="ri-menu-2-line align-middle"></i>
            </button>

            <!-- App Search-->


        </div>

        <div class="d-flex">
<div class="float-start mt-3 m-lg-3">
                <button id="defaultExchange" onclick="defaultExchange()" class="btn btn-info mt-1">Güncel Kur</button><br/>
               
            </div>

            <div class="float-start mt-3 m-lg-3">
                <h6>
                    1 $ = <a id="inline-dolar" data-value="@dollar" data-title="Dolar kuru girin"></a>


                </h6>
                <h6>
                    1 € =
                    <a id="inline-euro" data-value="@euro" data-type="text" data-pk="1"
                       data-title="Euro kuru girin">
                    </a>
                </h6>
            </div>
 
            @*
                <div class="dropdown d-none d-lg-inline-block ms-1">
                    <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="ri-apps-2-line"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                        <div class="px-lg-2">
                            <div class="row g-0">
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="assets/images/brands/github.png" alt="Github">
                                        <span>GitHub</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="assets/images/brands/bitbucket.png" alt="bitbucket">
                                        <span>Bitbucket</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="assets/images/brands/dribbble.png" alt="dribbble">
                                        <span>Dribbble</span>
                                    </a>
                                </div>
                            </div>
                
                            <div class="row g-0">
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="assets/images/brands/dropbox.png" alt="dropbox">
                                        <span>Dropbox</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="assets/images/brands/mail_chimp.png" alt="mail_chimp">
                                        <span>Mail Chimp</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="assets/images/brands/slack.png" alt="slack">
                                        <span>Slack</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                *@

          


            @*Bildirimler için burayı kullanacagız.*@

            @*
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-notification-3-line"></i>
                        <span class="noti-dot"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                         aria-labelledby="page-header-notifications-dropdown">
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="m-0"> Notifications </h6>
                                </div>
                                <div class="col-auto">
                                    <a href="#!" class="small"> View All</a>
                                </div>
                            </div>
                        </div>
                        <div data-simplebar style="max-height: 230px;">
                            <a href="" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="avatar-xs me-3">
                                        <span class="avatar-title bg-primary rounded-circle font-size-16">
                                            <i class="ri-shopping-cart-line"></i>
                                        </span>
                                    </div>
                                    <div class="flex-1">
                                        <h6 class="mt-0 mb-1">Your order is placed</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">If several languages coalesce the grammar</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="text-reset notification-item">
                                <div class="d-flex">
                                    <img src="assets/images/users/avatar-3.jpg"
                                         class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                    <div class="flex-1">
                                        <h6 class="mt-0 mb-1">James Lemire</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">It will seem like simplified English.</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="avatar-xs me-3">
                                        <span class="avatar-title bg-success rounded-circle font-size-16">
                                            <i class="ri-checkbox-circle-line"></i>
                                        </span>
                                    </div>
                                    <div class="flex-1">
                                        <h6 class="mt-0 mb-1">Your item is shipped</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">If several languages coalesce the grammar</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                
                            <a href="" class="text-reset notification-item">
                                <div class="d-flex">
                                    <img src="assets/images/users/avatar-4.jpg"
                                         class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                    <div class="flex-1">
                                        <h6 class="mt-0 mb-1">Salena Layfield</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-2 border-top">
                            <div class="d-grid">
                                <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                    <i class="mdi mdi-arrow-right-circle me-1"></i> View More..
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                *@

            <div class="dropdown d-inline-block user-dropdown">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="/assets/images/users/avatar-2.jpg"
                         alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-1">@User.Identity.Name</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i class="ri-user-line align-middle me-1"></i> Kullanıcı Profili</a>


                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="/Logout">
                        <i
                            class="ri-shut-down-line align-middle me-1 text-danger">
                        </i> Çıkış Yap
                    </a>
                </div>
            </div>


        </div>
    </div>
</header>

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu" style="margin-left: -20px!important; margin-top: 15px!important;">
                <li class="menu-title">Menu</li>

                <li>
                    <a target="_self" href="/panel/dashboard" class="">
                        <i class="ri-dashboard-line"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Ürün Yönetimi</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a target="_self" href="/product/add">Ürün Ekle</a>
                        </li>
                        <li>
                            <a target="_self" href="/product/list">Ürünleri Gör</a>
                        </li>

                    </ul>
                </li>

                <li class="menu-title">Yönetim</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Kullanıcı Yönetimi</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a target="_self" href="/panel/user-add">Kullanıcı Ekle</a>
                        </li>
                        <li>
                            <a target="_self" href="/panel/user-list">Kullanıcıları Gör</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-mail-send-line"></i>
                        <span>Role & İzin Kontrolü</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a target="_self" href="/role/list">Rol Listesi</a>
                        </li>
                        <li>
                            <a target="_self" href="/role/add">Rol Ekle</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->


<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" id="result">
    @if (TempData["CustomMessage"] != null)
    {
        <div id="toast-container" class="toast-top-right">
            <div class="toast toast-success" aria-live="assertive" style="display: block;">
                <div class="toast-message"> @TempData["CustomMessage"]</div>
            </div>
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="toast-container" class="toast-top-right">
            <div class="toast toast-error" aria-live="assertive" style="display: block;">
                <div class="toast-message"> @TempData["ErrorMessage"]</div>
            </div>
        </div>
    }
    @RenderBody()
</div>
<!-- end main content-->

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © CRM.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Tüm Hakları Saklıdır Hexaops.
                </div>
            </div>
        </div>
    </div>
</footer>

</div>
<script>
function hideToast() {
    var toastContainer = document.getElementById('toast-container');
    toastContainer.style.display = 'none';
}

setTimeout(hideToast, 4000);

function defaultExchange() {
    $.ajax({
        url: '/Product/CurrencyRealValue',
        type: 'POST',
        success: function (response) {
            var a = document.getElementById('inline-dolar');
            a.innerHTML = '@defaultCurrencyDollar'; // defaultCurrencyDollar değeri null ise, Razor otomatik olarak bir string olarak gösterecektir

            var b = document.getElementById('inline-euro');
            b.innerHTML = '@defaultCurrencyEuro'; // defaultCurrencyEuro değeri null ise, Razor otomatik olarak bir string olarak gösterecektir

            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: "Başarılı",
                showConfirmButton: false,
                timer: 1000 // 1 saniye
            });

            setTimeout(function(){
                location.reload();
            }, 2000); // 3 saniye sonra sayfayı yenile
        },
        error: function (xhr, status, error) {
            // Hata durumunda yapılacak işlemler
            console.error('Hata oluştu:', error);
            Swal.fire({
                title: 'Hata!',
                text: 'Bir hata oluştu: ' + error,
                icon: 'error'
            });
        }
    });
}


</script>

<!-- JAVASCRIPT -->
<!-- JAVASCRIPT -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>

<!-- Other -->
<script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
<script src="~/assets/libs/inputmask/jquery.inputmask.min.js"></script>
<!-- form mask init -->
<script src="~/assets/js/pages/form-mask.init.js"></script>
<script src="~/assets/js/pages/form-validation.init.js"></script>


<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- apexcharts init -->
<script src="~/assets/js/pages/apexcharts.init.js"></script>
<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<script src="~/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Sweet alert init js-->
<script src="~/assets/js/pages/sweet-alerts.init.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script src="~/assets/libs/select2/js/select2.min.js"></script>
<script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
<script src="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="~/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
<script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

<script src="~/assets/js/pages/form-advanced.init.js"></script>

<script src="~/assets/js/pages/form-xeditable.init.js"></script>
<script src="~/assets/libs/moment/min/moment.min.js"></script>
<script src="~/assets/libs/bootstrap-editable/js/index.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>